@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fill: 243, 244, 245;
    --color-text-base: 40, 39, 40;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  .theme-dark {
    /* --color-fill: 1, 16, 50; */
    /* --color-fill: 47, 55, 65; */
    /* --color-text-base: 230, 230, 230;
    --color-accent: 26, 217, 217;
    --color-card: 63, 75, 90;
    --color-card-muted: 89, 107, 129;
    --color-border: 59, 70, 85; */
  }
  #sun-svg,
  .theme-dark #moon-svg {
    display: none;
  }
  #moon-svg,
  .theme-dark #sun-svg {
    display: block;
  }
  
  body {
    @apply bg-skin-fill text-skin-base min-h-screen flex flex-col 
    selection:bg-skin-accent selection:text-skin-inverted selection:bg-opacity-70;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3rem;
  }
  .roboto-reg {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .roboto-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .roboto-extralight {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .source-sans-bold {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  section,
  footer {
    @apply max-w-3xl mx-auto px-4;
  }
  a {
    @apply outline-offset-1 outline-skin-fill outline-2 focus-visible:outline-dashed focus-visible:no-underline;
  }
  svg {
    @apply w-6 h-6 inline-block fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply w-6 h-6 scale-125 sm:scale-110 opacity-90 
    inline-block fill-transparent stroke-2 stroke-current 
    group-hover:fill-transparent;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  pre.astro-code {
    padding: 10px!important;
  }
  /* inline code */
  p code {
    background-color: #282c34;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #abb2bf;
    padding: 5px 11px;
  }

  article pre {
    padding: 14px;
    margin-top: 6px;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  .card-container {
    padding: 10px;
    background: #e1e1e1;
  }

  .card-container:hover {
    background: white;
  }

  .card-container h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
  }
  .card-container h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
  }

  .card-container a {
    color: black;
  }

  .card-container p {
    padding-top: 4px;
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3rem;
  }

  .card-container button {
    background: #ffffff;
    padding: 2px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.9rem;
    /* float: right; */
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 20px 0 10px 0;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 20px 0 10px 0;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: 20px 0 10px 0;
    text-decoration: underline;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 20px 0 10px 0;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0 0;
  }
  hr {
    margin: 6px 0 10px 0px;
  }
  #about ul {
    list-style: disc;
    padding: 0 0 0 30px;
  }

  #article h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 10px;
    line-height: 2rem;
  }
  #article p {
    line-height: 1.6rem;
  }
  #article ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }
  #article ul li {
    padding-left: 0.375em;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-offset-1 outline-skin-fill outline-2 focus-visible:outline-dashed focus-visible:no-underline;
  }
}
