---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");
const sortedPosts = getSortedPosts(posts);
---

<Layout>

  <Header />
  
  <main id="main-content">
    <!-- ===== About & Blog Posts Layout ===== -->
    <!-- <section class="newsletter max-w-6xl mx-auto px-4 py-8 sm:py-20">
      <div class="subscribe">
        <h3 class="newsletter-title text-2xl font-bold mb-4 w-full">
          I run a newsletter with my insights, join up?
        </h3>
        <script async data-uid="1bd2f99f3f" src="https://danb-solution-architect.kit.com/1bd2f99f3f/index.js"></script>
      </div>
    </section> -->
    <section
      id="about-blog"
      class="max-w-6xl mx-auto px-4 py-8 sm:py-20 gap-8"
    >
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 md:col-span-2">
        <div>
          <h2 class="text-3xl mb-4 roboto-extralight">About</h2>
          <p class="mb-4">
            I’m a Solutions and Software Architect with a proven track record of delivering 
            cutting-edge systems for both start-ups and established enterprises. My approach combines 
            hands-on technical expertise with strategic leadership, transforming business needs into 
            tangible, scalable solutions.
          </p>
          <p class="mb-4">
            Drawing on my experience with AWS, Azure, open-source technologies, and low-code platforms, 
            I specialise in creating robust architectures, from proofs-of-concept to fully realised 
            systems. I thrive on identifying and unlocking business opportunities, charting architectural 
            roadmaps, and guiding teams to success.
          </p>
          <p class="mb-4">
            Beyond technical delivery, I lead code reviews, mentor teams, and contribute to pre-sales 
            engagements, translating complex needs into actionable strategies. My goal is to bridge 
            the gap between technical innovation and business goals with clarity, precision, and vision.
          </p>
          <p>
            For a career history, visit my 
            <LinkButton
              blank
              className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
              href="https://www.linkedin.com/in/daniel-broughton-5797716a/"
              >LinkedIn</LinkButton
            > or email me at
            <LinkButton
              className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
              href="mailto:contact@danb.pro"
              >contact@danb.pro</LinkButton>.
          </p>
        </div>
        <div>
          <h2 class="text-3xl mb-4 roboto-extralight">Services</h2>
          <p>Coming soon.</p>
          <!-- <p>Coming soon. Sign up to my newsletter for the latest insights.</p> -->
        </div>
        <div>
          <h2 class="text-3xl mb-4 roboto-extralight">Blog Posts</h2>
          <ul class="space-y-4">
            {
              sortedPosts
                .filter(({ frontmatter }) => frontmatter.datetime)
                .map(
                  ({ frontmatter }, index) =>
                    index < 4 && (
                      <Card
                        href={`/posts/${slugify(frontmatter)}`}
                        post={frontmatter}
                        secHeading={false}
                        label={false}
                      />
                    )
                )
            }
          </ul>
          <div class="all-posts-btn-wrapper mt-6">
            <LinkButton href="/posts">
              All Blog Posts
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block ml-2 h-7 w-7">
                <path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path>
              </svg>
            </LinkButton>
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<!-- ===== Tailwind or CSS Styling ===== -->
<style>
  /* If you’re using Tailwind, you might not need much here. 
     However, you can add extra custom styling or fallback CSS as needed. */

  #hero.h2 {
    color: white;
  }

  #hero.p {
    color: white;;
  }

  section.newsletter {
    padding: 0;
  }
  .subscribe {
    background: white;
  }
  .newsletter-title {
    font-size: 1.4rem;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 0px 0 0px 0;
    color: black;
    padding-left: 10px;
  }

  /* If you prefer to use @apply for reusability, you can do so:
  #hero h1 {
    @apply text-4xl sm:text-5xl font-bold mb-2;
  }
  ... 
  */
</style>
